<!DOCTYPE html>
<html class="bg-gray-900">
	<head>
		<title>Email</title>
		<link rel="stylesheet" href="/static/stylesheets/style.css" />
	</head>
	<body class="flex justify-center">
		<div
			class="
				bg-gray-800
				max-w-screen-sm
				p-10
				mt-4
				border-4 border-gray-300
				rounded-2xl
				text-white
				flex flex-col
				justify-center
				align-middle
			"
		>
			<div class="text-lg font-medium mb-2">Email activated:</div>
			<div>Your email address is confirmed.</div>
			<div class="">You can log in an use the plugin on netflix.</div>
		</div>
	</body>
</html>
