<!DOCTYPE html>
<html>
	<head>
		<title>Error</title>
		<link rel="stylesheet" href="/static/stylesheets/style.css" />
	</head>
	<body class="flex justify-center bg-gray-900">
		<div
			class="
				bg-gray-800
				max-w-screen-sm
				p-10
				mt-4
				border-4 border-gray-300
				rounded-2xl
				text-white
				flex flex-col
				justify-center
				align-middle
			"
		>
			<div class="text-lg font-medium mb-2">Error:</div>
			<div><%= errorMessage %></div>
		</div>
	</body>
</html>
