<!DOCTYPE html>
<html class="bg-gray-900">
	<head>
		<title>Change password</title>
		<link rel="stylesheet" href="/static/stylesheets/style.css" />
	</head>
	<body class="flex justify-center">
		<form
			action="<%= resetConfirmPostUrl %>"
			method="post"
			class="
				bg-gray-800
				max-w-screen-sm
				p-10
				mt-4
				border-4 border-gray-300
				rounded-2xl
				text-white
			"
		>
			<fieldset class="flex flex-col">
				<legend class="text-lg font-semibold">Reset password</legend>
				<span class="mt-4">Please enter your new password</span>
				<label class="mt-8" for="password-reset">New password</label>
				<input
					class="bg-transparent border border-white rounded p-1"
					id="password-reset"
					name="password"
					type="password"
					required
				/>
				<div class="mt-4">
					<button
						type="submit"
						class="inline-flex border border-white rounded p-1"
					>
						Reset password
					</button>
				</div>
			</fieldset>
		</form>
	</body>
</html>
